<% content_for :head_content do  %>
  <%= stylesheet_link_tag 'tasks/_form.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'tasks/_form.js',  'data-turbolinks-track': 'reload' %>
<% end %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 content">
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, hint: 'Atleast 2 characters '%>
    <%= f.input :note %>
    <div class="item">
    <input id="custom_deadline_at" type="checkbox" name="custom_deadline_at"><label class="form-check-label">Has a deadline</label>
    </div>
    <%= f.input :deadline_at, html5: true %>
    <div class="item">
    <%= f.input :is_done %>
    </div>
    <%= f.association :category %>

    <div class="tags-checks">
      <%= f.association :tags, as: :check_boxes%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
      <%= link_to 'Show', @task %>
      <%= link_to 'Back', tasks_path %>
    </div>
  </div>
</div>