<% content_for :title do  %>
  Tasks
<% end %>

<% content_for :head_content do  %>
  <%= stylesheet_link_tag 'tasks/index.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'tasks/index.js', 'data-turbolinks-track': 'reload' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 align="center">Tasks</h1>

<div class="tasks-menu">
  <%= link_to 'New Task', new_task_path %>
  <%= link_to 'Pending Tasks', pending_tasks_path %>
  <%= link_to 'Completed Tasks', completed_tasks_path %>
  <%= link_to 'Group by category', request.path + "?" + {:group => '1'}.to_query  %>
  <a href="#" id="filter-div-trigger">Filter<i class='down'></i></a>
  <form class="form-inline" id="search-form">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#128269;</div>
      </div>
      <input type="text" class="form-control" id="search-input" placeholder="Search for title or note">
    </div>
    <button type="submit" type="search-button" class="btn btn-primary mb-2">Submit</button>
  </form>

</div>

<div class="filtering-div">
  <p>By Category:</p>
  <select class="categories_list">
    <option value=""></option>
  <% @categories.each do |category| %>
    <option value="<%= category.id%>"><%= category.title %></option>
  <% end %>
  </select>

  <p>By Tag:</p>
  <div class="tags-selection">>
      <% @tags.each do |tag| %>
    <input id="" type="checkbox" value="<%= tag.id %>"><label class=""><%= tag.title %></label>
    <% end %>
  </div>
  <div>
    <button class="btn btn-primary" id="apply-button">Apply</button>
  </div>
</div>

  <% if @tasks.is_a?(Hash) && @tasks.size != 0 %>
    <% @tasks.each do |k,v| %>
    <h3 align="center"><%= k %></h3>
    <div class="container-tasks">
      <%= render v %>
    </div>
    <% end %>
  <% elsif !@tasks.is_a?(Hash) && @tasks.size != 0%>
  <div class="container-tasks">
    <%= render @tasks %>
  </div>
  <% else %>
    <h3 class="no-tasks" align="center">No tasks yet...</h3>
  <% end %>





