<% content_for :title do  %>
  <%= @task.title %>
<% end %>

<% content_for :head_content do  %>
  <%= stylesheet_link_tag 'tasks/show.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 align="center">Task details</h1>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @task.note %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @task.is_done %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
