<% content_for :title do  %>
  <%= @task.title %>
<% end %>

<% content_for :head_content do  %>
  <%= stylesheet_link_tag 'tasks/show.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 align="center">Task details</h1>

<div class="container-show">

  <p>
    <strong>Title:</strong>
    <%= @task.title %>
  </p>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at? ? @task.deadline_at : "No deadline" %>
</p>


<p>
  <strong>Is done:</strong>
  <%= @task.is_done? ? '&#10004'.html_safe : '&#10008'.html_safe %>
</p>

  <p>
    <strong>Category:</strong>
    <%= @task.category != nil ? @task.category.title : '&#10008'.html_safe %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% if @task.tags.size != 0 %>

      <% @task.tags.each_with_index do |tag, index| %>
        <% if index != (@task.tags.size - 1) %>
          <%= tag.title + ", " %>
        <% else %>
          <%= tag.title %>
        <% end %>
      <% end %>

  <% else %>
    &#10008;
  <% end %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @task.note %>
  </p>
  <div class="task-links">
    <%= link_to 'Edit', edit_task_path(@task) %>
    <%= link_to 'Back', tasks_path %>
  </div>
</div>