<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head_content %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "Taskomator", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar_content">
      <ul class="navbar-nav">
        <li class="nav-item <%= controller_name == 'tasks' ? 'active' : '' %>"><%= link_to "Tasks", tasks_path, class: 'nav-link' %></li>
        <li class="nav-item <%= controller_name == 'settings' || controller_name == 'settings_categories' || controller_name == 'settings_tags' ? 'active' : '' %>"><%= link_to "Settings", settings_index_path, class: 'nav-link' %></li>
      </ul>
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>

        <%= link_to "My Account", account_path,  class: "btn btn-info navbar-btn" %>
        <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "btn btn-warning navbar-btn" %>

    <% else %>

      <%= link_to "Log in", new_user_session_path, class: "btn btn-success navbar-btn"  %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning navbar-btn"  %>


    <% end %>
    </ul>
      </div>
  </nav>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
    <%= yield %>
  </body>
</html>
